<!DOCTYPE html>
<html>

<head>
    <title>保育園Map β版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

</head>
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-content {
        margin-top: 10px;
    }

    main {
        margin-top: 30px;
    }

    .header-menu , footer{
        background-color: #2a2a2a;
    }

    footer {
        height: 50px;
        margin-top: 15px;
        padding-top: 15px;
        color: #bfbfbf;
        
    }

    .pure-menu-link,
    .pure-menu-heading {
        color: #ffffff;
    }

    .pure-menu-link:hover {
        color: #2a2a2a;
    }
</style>

<body>
    <header>
        <div class="pure-menu pure-menu-horizontal header-menu">
            <a href="/" class="pure-menu-heading"><i class="fas fa-search-plus"></i>保育園簡易地図 β版</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link pure-menu-disabled"><i class="fab fa-neos"></i>お知らせ</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link pure-menu-disabled"><i class="fas fa-map-pin"></i>都道府県選択</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/help" class="pure-menu-link"><i class="far fa-question-circle"></i>ヘルプ</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container search-content">
        <input type="text" id="address" placeholder="住所を入力してください" style="width:1000px;">
        <button type="button" class="pure-button" onClick="search()">検索</button>
    </div>
    <main class="container">
        <div id="map" class="" style="width:1000px; height:800px"></div>
    </main>
    <footer>
        <div class="container">
            <small>© <span id="nowYear"></span> Team Project Europa</small>
        </div>
    </footer>
    <script harset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPXlVdW5hajMxUTdESCZzPWNvbnN1bWVyc2VjcmV0Jng9MDQ-"></script>
    <script>
        let ymap;
        let geocoder;
        window.onload = function () {
            document.getElementById("nowYear").innerText = new Date().getFullYear();
            ymap = new Y.Map("map", {
                configure: {
                    doubleClickZoom: true,
                    scrollWheelZoom: true,
                    singleClickPan: true,
                    dragging: true
                }
            });
            ymap.addControl(new Y.SliderZoomControlVertical());
            ymap.addControl(new Y.LayerSetControl());
            ymap.drawMap(new Y.LatLng(35.802631, 139.849636), 15, Y.LayerSetId.NORMAL);
            geocoder = new Y.GeoCoder();
            const contents = [
                {
                    nursery: '八条保育所',//
                    address: '八潮市大字八條1567番地'
                },
                {
                    nursery: '伊草保育所',
                    address: '八潮市大字伊草372番地'
                },
                {
                    nursery: '中馬場保育所',//
                    address: '八潮市中央三丁目29番地17'
                },
                {
                    nursery: '南川崎保育所',
                    address: '八潮市大字南川崎207番地1'
                },
                {
                    nursery: '大曽根保育所',//
                    address: '八潮市大字大曽根1518番地'
                },
                {
                    nursery: '古新田保育所',
                    address: '八潮市大字古新田10番地'
                },


                {
                    nursery: '八潮ひまわり保育園',//
                    address: '八潮市中央一丁目15番地5'
                },
                {
                    nursery: 'やしお花桃保育園',//
                    address: '八潮市大字二丁目1067番地1'
                },
                {
                    nursery: 'けやきの森保育園やしお',//
                    address: '八潮市大字垳161−1'
                },
                {
                    nursery: '八潮かえで保育園',//
                    address: '八潮市大瀬二丁目1番地8'
                },
                {
                    nursery: 'やしおエンゼル保育園',//
                    address: '八潮市八潮四丁目4番地6'
                },
                {
                    nursery: 'しおどめ保育園八潮駅北',//
                    address: '八潮市大字木曽根438番地1'
                },
                {
                    nursery: '八潮なないろ保育園',//
                    address: '八潮市大字二丁目948番地1'
                },
                {
                    nursery: 'コビープリスクールやしおステーション',//
                    address: '八潮市大瀬一丁目1番地1'
                },
                {
                    nursery: 'けやきの森保育園やしお桜園',//
                    address: '八潮市垳127-1'
                },
                {
                    nursery: '八潮みひかり保育園',
                    address: '八潮市大瀬三丁目2番地5'
                },
                {
                    nursery: 'みつもり保育園',//
                    address: '八潮市大瀬四丁目3番地1'
                },
                {
                    nursery: '認定こども園しおどめの森（保育園部）',//
                    address: '八潮市大字木曽根1041番地2'
                },
            ];
            // Object.keys(contents).forEach((value, index) => console.log(index));
            for (const value of contents) {
                var content = value.address;
                var request = { "content": content };
                geocoder.execute(request, function (ydf) {
                    if (ydf.features.length > 0) {
                        ydf.features[0].bindInfoWindow(`${value.nursery}`);
                        ymap.addFeatures(ydf.features);
                    }
                });
            }
        }
        function search() {
            const searchContent = document.getElementById("address").value;
            const searchRequest = { "content": searchContent };
            geocoder.execute(searchRequest, function (ydf) {
                if (ydf.features.length > 0) {
                    ydf.features[0].bindInfoWindow("住所：" + searchContent);
                    ydf.features[0].icon.image = "https://s.yimg.jp/images/map/yy/images/icon/yy_aicon_06_32pix.gif";
                    ymap.addFeatures(ydf.features);
                    alert(searchContent + "をマップに追加しました。");
                }
            });
            document.getElementById("address").value = '';
        }
    </script>
</body>

</html>